:root {
  --font-family: "Inter", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --color-light-1: #fff;
  --color-light-2: #a3a2a8;

  --color-grey-1: #62626b;
  --color-grey-2: #595860;

  --color-dark-1: #0e0d13;
  --color-dark-2: #1a191f;

  --color-red-1: #ff4041;
  --color-red-2: #c23b3b;
}

body.theme-light {
  --color-light-1: #000;
  /* --color-light-2: #1a191f; */

  --color-dark-1: #ebebeb;
  --color-dark-2: #fff;

  --color-red-1: #ff4041;
  --color-red-2: #c23b3b;
}

body.theme-light .list__img,
body.theme-light .modal__item img {
  filter: invert(35%);
}

body.theme-light .context-menu {
  box-shadow: 0px 0px 12px 4px rgba(100, 100, 100, 0.3);
}

body.theme-light .modal__colors .color-option.selected {
  border: 2px solid #4b4b4b !important;
}

body.theme-light .modal__item img.selected {
  outline: 2px solid #000;
}

body.theme-light .list__empty-img {
  background-image: url(./../assets/icons/empty-light.svg);
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
